<!DOCTYPE html>
{{>header}}
<div class="container">
    <p style="margin-top: 111px; margin-bottom: 103px;">
        Bienvenido a la pagina de inicio de la segunda entrega del curso de Node JS
    </p>
</div>
{{>footer}}